.bg-teal-polka {
    background-image: radial-gradient(#f81616 4%, transparent 5%),
        radial-gradient(#f81616 4%, transparent 5%);
    background-position: 0px 0px, 22px 22px;
    background-size: 44px 44px;
    background-color: #d4f6cc;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
